.about {
  text-align: center;
  height: auto;
  margin: 40px 40px;
  border-radius: 5px;
  border: 2px solid rgb(149, 4, 4);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .about {
    padding: 10px;
    margin: auto;
    width: 100%;
  }
}

.text {
  color: rgb(133, 133, 133);
  text-shadow: 0.4px 0.9px #fff;
  padding: 40px 40px;
  margin: 70px auto;
  font-size: 30px;
}
@media (max-width: 426px) {
  .text {
    font-size: 17px;
    padding: 8px;
    margin: auto;
  }
}
